* {
    margin: 0;
    padding: 0;
}

main {
    padding-bottom: 150px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
    font-size: 60px;
}

a {
    color: white;
}

.subtitle, .empty_cart{
    text-align: center;
    font-size: 25px;
    margin-top: 40px;
}

.card {
    border: solid;
    margin: auto;
    margin-top: 29px;
    text-align: center;
    height: 250px;
    width: 250px;
    border-radius: 10px;

    img {

        width: -moz-available;
        border-radius: 7px 7px 0px 0px;
        height: 150px;
    }
}


.product {
    display: flex;
    text-align: center;
    margin-top: 100px;

    #description {
        width: 50%;
        margin-right: 100px;
        
        img {
            width: 75%;
        }
    }

    #choix {
        width: 50%;
        margin-top: 160px;
    }
}


#list_teddies {

    .each_teddy {
        border: solid;
        border-radius: 20px;
        padding: 10px;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        display: flex;
        justify-content: space-between;
    }

    .icon_garbabge {
        display: block;
        margin: auto;
    }

    .total {
        text-align: right;
        font-size: 20px;
        margin-right: 130px;
    }
}


#form1 {
    display: flex;

    .form-group {
        width: 40%;
        margin: auto;
    }
}

.delete_cart,
.btn-order {
    display: block;
    width: 150px;
    line-height: 50px;
    text-align: center;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 15px;
    margin-left: 80%;
    margin-top: 20px;
}

#sticky-footer {
    background-color: black;
    color: white;
    width: 100%;
    padding-top: 10px;
    position: fixed;
    bottom: 0;

    h4 {
        margin-bottom: 20px;
    }
}

#sheet__form {
    display: none;
}

#order_confirmation{
    text-align: center;
    border: solid;
    border-radius: 20px;
    box-shadow: 5px 10px 5px gray;
}

@media all and (max-width: 767px) {

    h1{
        font-size: 40px;
    }

    .card{
        width: auto;
    }

    .product{
        flex-direction: column;

        #description{
            width: 100%;
            margin: auto;
            text-align: center;

            img{
                width: 300px;
            }
        }

        #choix{
            width: 100%;
            text-align: center;
            margin: auto;
        }
    }

    #list_teddies {

        .total{
            margin-top: 25px;
            margin-bottom: 25px;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }
    }

    .delete_cart,
    .btn-order {
        margin: auto;
        margin-top: 20px;
    }
}